<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>

    <style>
        body {
            text-align: center;
            background-color: rgb(187, 87, 20);
            color: rgb(0, 0, 0);
        }
        img{
            width: 500px;
            height: 500px;
        }
        
        form *{
    text-align: center;
    display: block;
    text-decoration: none;
    margin: 1% auto;
    transition: 2s;
    color: beige;
}
.form {
    text-align: center;
    position: relative;
    background-color: #a1e0a7;
    margin: 1% auto;
    padding: 40px;
    margin: 5% 6%;
    border: 1px;
    box-shadow: 0px 5px 4px rgba(7, 7, 7, 0.25);
    transition: 2s;
}


.logo {
    width: 50%;
    height: fit-content;
    background-color: wheat;

}

    </style>
</head>
<body>
    <h1>You Have A Brand New Order</h1>

    <img class="logo" src="attachments/logoR.png" alt="logo">

    <h2>ORDER DETAILS</h2>
    <div class="form">
    <img src="attachments/dd.jpg" alt="">
    <h3> {{product }} </h3>
    <h3> name: {{name}}</h3>
    <h3> phone no: {{phone}}</h3>
    <h3> email: {{email}}</h3>
    <h3> type: {{variant}}</h3>
    <h3> delivery fee: {{delivery}}</h3>
    <h3> per item: {{item}}</h3>
    <h3> quantity: {{qty}} </h3>
    <h3> total: {{total}} </h3>
    </div>



<script>
    function preview() {
    let option = document.getElementById("Lsnail").value;
    let hd1 = document.getElementById("hd1").childNodes[0].data.slice(1,-1);

    if (option == "small") {
        var imagesrc = "../img/" + hd1 + "/small.jpg";
        var img1 = document.querySelectorAll("img")[1];
        img1.setAttribute("src", imagesrc);

    } else if (option == "medium") {
        var imagesrc = "../img/" + hd1 + "/medium.jpg";
        var img1 = document.querySelectorAll("img")[1];
        img1.setAttribute("src", imagesrc);

    } else if (option == "large"){
        var imagesrc = "../img/" + hd1 + "/large.jpg";
        var img1 = document.querySelectorAll("img")[1];
        img1.setAttribute("src", imagesrc);
 
    } else {
        var imagesrc = "../img/" + hd1 + "/jumbo.jpg";
        var img1 = document.querySelectorAll("img")[1];
        img1.setAttribute("src", imagesrc);

    }

};
</script>
</body>
</html>